<!DOCTYPE HTML>
{% load static %}
<html lang='en'>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/resources/images/favicon2.png" type="image/x-icon">
		<link href="{% static 'sections/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <!---<script src="https://use.fontawesome.com/0dabb168cf.js"></script>--->
		<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
		<link href="{% static 'sections/css/animate.min.css' %}" rel="stylesheet" media="screen">

		<!--<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700" rel="stylesheet"> -->
		<link rel="stylesheet" href="{% static 'sections/css/main.css' %}" />
		<style>
		</style>
	</head>
	<body>

		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						{% include 'sections/includes/logo.svg' %}
						<!--<h3>natha[nh]are</h3>-->
						<!--
						<object data="{% static 'sections/images/logo.svg' %}" type="image/svg+xml" id="logo-img">
							<img src="{% static 'sections/images/logo.svg' %}" width="75" />
						</object>
						-->
					</div>
					<div class="col-xs-10 text-right">
						<nav>
							<a href="#skills-a">Skills</a>
							<a href="#portfolio-a">Portfolio</a>
							<a href="#">Contact</a>
							<a href="#">About</a>
						</nav>
					</div>
				</div>
			</div>
		</header>

		{% block content %}
		{% endblock %}

		<script src="{% static 'sections/js/jquery-3.2.1.min.js' %}"></script>
		<!--<script src="{% static 'sections/js/waypoints.min.js' %}"></script>
		<script src="{% static 'sections/js/inview.min.js' %}"></script>-->
		<script src="{% static 'sections/js/jquery.visible.min.js' %}"></script>
		<script src="{% static 'sections/js/main.js' %}"></script>
	</body>
</html>
