		<a name="skills-a" class="anchor"></a>
		<section id="skills" class="padded">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h2>Skills</h2>
						<p>
							Eos eaque dolores et dicta in blanditiis illum. Distinctio dolorem sequi dolor in. Deleniti veritatis ipsa molestias sed. Quod et atque facere veritatis omnis provident rerum. Vel eos praesentium recusandae eum quia molestias repellendus. Eos iste eos expedita illum.
						</p>
						<p>
							Quas qui enim quia. Ut occaecati est veniam magnam. Recusandae laborum dolore sit quia.
						</p>
						<p>
							Molestias harum qui porro. Voluptate aperiam pariatur quibusdam laborum quo sit omnis mollitia. Nisi deserunt inventore maxime totam cum molestias.
						</p>
					</div>
					<div class="col-sm-8">

					</div>
				</div>
				<!--
				<div class="spacer">&nbsp;</div>
				-->

			</div>
		</section>
