{% extends 'sections/base.html' %}

{% block content %}
	{% load static %}

		<a name="title-a" id="title-a" class="anchor"></a>
		<section id="title" class="bg-pine padded">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">

						<div class="spacer">&nbsp;</div>
						<img src="{% static 'sections/images/face.png' %}" class="face waypoint" data-animation="flipInX" />
						<h1 class="waypoint" data-animation="fadeInUp">nathan hare</h1>

						<h3 class="waypoint" data-animation="fadeInUp">full stack web development, design, hosting, etc.</h3>
						<div class="spacer">&nbsp;</div>

					</div>
				</div>
			</div>
		</section>

		<a name="experience-a" id="experience-a" class="anchor"></a>
		<section id="experience" class="padded">
			<div class="container">
				<h2 class="text-center waypoint" data-animation="fadeInDown"><i class="glyphicon glyphicon-tree-conifer" style="color: #444e38;"></i><br />
				<span class="waypoint" data-animation="fadeInLeft">{{ experience_text.name }}</span></h2>
				<br />
				<br />
				<div class="row">
					<div class="col-sm-4 waypoint" id="experience-text" data-animation="fadeInUp">
						{{ experience_text.body|safe }}
					</div>
					<div class="col-sm-8" id='progress-div' data-animation="fadeIn">

						{% for exp in experience %}
							<div class="row">
								<div class="col-md-2 col-sm-3 col-xs-3 text-right">
									{{ exp.name }}
								</div>
								<div class="col-md-10 col-sm-9 col-xs-9">
									<div class="progress">
										<div class="progress-bar text-right waypoint" id="progress{{ forloop.counter }}" data-animation="slideInLeft" data-perc="{{ exp.perc }}" style="width: {{ exp.perc }}%;">{{ exp.perc }}%</div>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
				<!--
				<div class="spacer">&nbsp;</div>
				-->

			</div>
		</section>

		<a name="portfolio-a" id="portfolio-a" class="anchor"></a>
		<section id="portfolio" class="padded">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center waypoint" data-animation="fadeInDown"><i class="glyphicon glyphicon-tree-conifer" style="color: #444e38;"></i><br />
						PORTFOLIO</h2>
						<br />
					</div>
				</div>

				<div class="row portfolio-imgs">
					{% for work in works %}
						{% with work.work_image_set.first as cover_img %}
							<div class="col-md-4 col-sm-6 col-xs-12">
								<a href="{{ cover_img.file.url }}">
									<img src="{{ cover_img.file.url }}" width="100%" class="waypoint" data-animation="zoomIn" data-timer="250" />
								</a>
							</div>
						{% endwith %}
					{% endfor %}
					<div class="col-sm-3 col-xs-6 text-center">
						<img src="#" width="100%" alt="github" />
					</div>
				</div>

			</div>
		</section>

		<section id="carousel-example-generic" class="carousel slide bg-pine padded" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="#" alt="...">
					<div class="carousel-caption">
						<h3>"nate is the best"</h3>
					</div>
				</div>
				<div class="item">
					<img src="..." alt="...">
					<div class="carousel-caption">
						...
					</div>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</section>

		<section class="bg-pine padded">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-sm-10 col-sm-offset-1">
						"nate is the best"
					</div>
				</div>
			</div>
		</section>

		<section id="contact" class="padded">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
						<h2 class="text-center waypoint" data-animation="fadeInRight"><i class="glyphicon glyphicon-tree-conifer" style="color: #444e38;"></i><br />
						CONTACT</h2>
						<br />

						<form class="form">
							<div class="form-body waypoint" id="contactForm" data-animation="fadeInLeft">
								<div class="form-group">
									<input type="text" name="name" placeholder="Name" class="form-control input-lg" />
								</div>
								<div class="form-group">
									<input type="text" name="email" placeholder="Email" class="form-control input-lg" />
								</div>
								<div class="form-group">
									<textarea name="request" placeholder="Request" rows="6" class="form-control input-lg"></textarea>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-danger btn-lg">Submit</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>

{% endblock %}
