		<a name="portfolio-a" class="anchor"></a>
		<section id="portfolio" class="padded">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Portfolio</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<img src="{% static 'sections/images/portfolio/tabfor.png' %}" class="round img-thumbnail img-responsive" width="100%" />
					</div>
					<div class="col-md-4">
						<img src="{% static 'sections/images/portfolio/employeeportal.png' %}" class="round img-thumbnail img-responsive" width="100%" />
					</div>
					<div class="col-md-4">
						<img src="{% static 'sections/images/portfolio/nhwritings.png' %}" class="round img-thumbnail img-responsive" width="100%" />
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-4">
						<img src="{% static 'sections/images/portfolio/nhwritings.png' %}" class="img-thumbnail img-responsive" width="100%" />
					</div>
					<div class="col-md-4">
						<img src="{% static 'sections/images/portfolio/nhwritings.png' %}" class="img-thumbnail img-responsive" width="100%" />
					</div>
					<div class="col-md-4">
						<img src="{% static 'sections/images/portfolio/nhwritings.png' %}" class="img-thumbnail img-responsive" width="100%" />
					</div>
				</div>
			</div>
		</section>
